body{
    /* overflow-y: hidden !important; */
    background-color:#030031 ;
    font-family: cursive;
 }
 /* login page */

.home{
background-image: linear-gradient(to bottom, rgba(72, 79, 120, 0.52), rgba(83, 9, 64, 0.73)), url('./images/imheader.jpg');
background-repeat: no-repeat;
background-size: cover;
width:100%;
background-position: center; 
height:100vh;

}  
/* dahsboard page */
/*dashboard-sidebar*/
.side-bar{
    position: fixed;
    width:70px;
    height: 100%;
    background-color: #212130;
    top:0;
    left:0;
    transition: .5s;
    z-index:10;
    box-shadow: 2px 0px 10px 1px  rgb(2, 2, 2);
}
pre{
    text-shadow: 2px 3px #0f0e0e;

}
#about{
   text-decoration: underline;
}
.side-bar .sidebar-content{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.search-bar{
    background-color: #212130 !important;
}
   
.side-bar .sidebar-content .icon{
    padding:1px 6px;
    background-color: #2563eb;
    cursor: pointer;
    font-size: 18px;
    color: azure;
    position:absolute;
    top:12%;

}
.side-bar .sidebar-content .icon-right{
    border-radius: 0 49% 49% 0;
    right: -20%;
}
.side-bar .sidebar-content .icon-left{
    border-radius:  49% 0 0 49% ;
    right: 0%;
}
.profile-image{
    margin-top: 100px;
    display: flex;
    width:100%;
    justify-content: center;
}
.profile-image img{
    width:50px;
    height: 50px;
}
.user-connect{
    width:100%;
    text-align: center;
}
.side-bar .sidebar-content .list-content1{
    margin-top: 1em;
 }

.side-bar .sidebar-content  li a{
    margin-top:10px;
    background-color:#2563eb;
    width:90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    color:whitesmoke;
    font-weight: bold;
    transition:.5s;
}

.side-bar .sidebar-content a:hover{
    color:blue;
}
.side-bar .sidebar-content span{
    width:100px;
}

/* dashboard-header */
.dashboard-header{
    position:fixed;
    width:100%;
    background-color: #212130;
    height:60px;
    top: 0;
    box-shadow: 0px 2px 20px rgb(13, 13, 13) ;
}
.dashboard-header .nav-bar{
    margin-right: 10px;
    align-items: center;
    height:100%;
    margin-left: 80px;
}
.dashboard-header .nav-bar .menu-bar{
    display: none;
}
.dashboard-header .nav-bar .menu-bar i{
    font-weight: bolder;
    font-size: 25px;
    cursor: pointer;
}
/* my-section */
.my-section{
    width:calc(100%-270px);
    margin-left: 80px;
    margin-right: 20px;
    transition: .4s;
}
.page-notfound{
    background-image: url('images/pagenotfound.png');
    background-size: cover;
}
.page-notfound .notfound{
   font-size: 200px !important;
   color:bisque
}
@media (max-width:890px){
    .page-notfound{
        flex-wrap: wrap !important;
    }
    .alone{
        font-size: 25px !important;
    }
}
.my-width{
    width:20% !important;
}
.placeholder-red::placeholder {
  color: red;
  font-size: 15px;
  font-weight: bold;
  }
  .hitgth-modal{
    height: 94% !important;
  }
  .hitgth-modal::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  .hitgth-modal::-webkit-scrollbar-track {
    background: #e5e5e5;
  }
  
  /* Handle */
  .hitgth-modal::-webkit-scrollbar-thumb {
    background: #299ed0;
     border-radius: 6px;
  }
  
  /* Handle on hover */
  .hitgth-modal::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
  }
  /*  */
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
}
 .header-landingpage{
    position: relative;
} 

.header-landingpage .header-menu{
  display: none;
}
 .header-landingpage  .header-heading{
    position: absolute;
    top:50%;
    left:50%;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    transform: translateX(-50%);
    text-shadow: 3px 3px 2px black;
    font-size: 40px;
    width:90%;
    /* backdrop-filter: blur(10px); */
}
.header-landingpage .nav-landingpage {
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 65px;
    top:0;
    z-index:1;
}
.header-landingpage .nav-landingpage .nav-logo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    
} 
.header-landingpage .nav-landingpage li a {
    color: #0c0c6e;
    font-family:cursive;
}
.header-landingpage .nav-landingpage .nav-pages .about-page:hover::before {
    position: absolute;
    content: '';
    width: 45px;
    height: 2px;
    background-color: #8A1538;
    color: #8A1538;
    bottom: 30%;
}
.header-landingpage .nav-landingpage .nav-pages .news-page:hover::before {
    position: absolute;
    content: '';
    width: 43px;
    height: 2px;
    background-color: #8A1538;
    color: #8A1538;
    bottom: 30%;
} 
 .header-landingpage .nav-landingpage .nav-pages .tearms-page:hover::before {
    position: absolute;
    content: '';
    width: 55px;
    height: 2px;
    background-color: #8A1538;
    color: #8A1538;
    bottom: 30%;
}
.header-landingpage .nav-landingpage .nav-pages .contact-page:hover::before {
    position: absolute;
    content: '';
    width: 58px;
    height: 2px;
    background-color: #b5038e;
    color: #8A1538;
    bottom: 30%;
} 
.header-landingpage .nav-landingpage .nav-compte .nav-login {
    border: 1px solid rgba(138, 21, 56, 1);
    padding: .4em 1em;
    color: rgba(138, 21, 56, 1);
    border-radius: 4px;
    transition: .5s;
}
.header-landingpage .nav-landingpage .nav-compte .nav-Signup {
    background-color: #8A1538;
    padding: .45em 1em;
    color: #ffffff;
    border-radius: 4px;
    transition: .5s;
}
.header-landingpage .nav-landingpage .nav-compte .nav-login:hover {
    background-color: #8A1538;
    color: #ffffff;
} 
 .header-landingpage .nav-landingpage .nav-compte .nav-Signup:hover {
    background-color: #6c102b;
}
.header-landingpage .header-menu{
   display: none;
   cursor: pointer;
}
.header-landingpage .header-menu .ligne{
    display: block;
    margin: 5px auto;
    width:25px;
    height: 3px;
    -webkit-transition: all .3s ease-in-out;
    background-color: #1B1B25;
}

@media (max-width:710px){
    .header-landingpage .header-menu{
        display: block;
    }
    .header-landingpage .nav-landingpage .nav-pages{
        flex-direction: column;
        position: absolute;
        background-color: #ffffff;
        width:100%;
        top: 64px;
        left: -150%;
        padding-left: 0;
        text-align: center;
        height:200px;
        line-height: 30px;
        transition: .5s;
    }
    .header-landingpage .nav-landingpage .nav-pages li a{
        color: #470065;
        font-weight: bold;
        font-size: 20px;
        margin: 0 !important;
    }
    .header-landingpage .nav-landingpage .nav-compte{
        flex-direction: column;
        background-color: #ffffff;
        position: absolute;
        width:100%;
        height:120px;
        top: 200px;
        left: -150%;
        padding-left: 0;
        text-align: center;
        line-height: 40px;
        transition: .5s;
    }
    .header-landingpage .nav-landingpage .nav-compte .nav-Signup{
       margin: 0 !important;
    }
    .header-landingpage .nav-landingpage .nav-compte .nav-login{
       margin: 0 !important;
    }
    .header-landingpage .nav-landingpage .nav-pages.active{
        left:0%;
    }
    .header-landingpage .nav-landingpage .nav-compte.active{
        left:0%;
    }
    .header-landingpage .header-menu.active .ligne:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        transition: .5s;
    }
    .header-landingpage .header-menu.active .ligne:nth-child(2){
        opacity: 0;
     }
     .header-landingpage .header-menu.active .ligne:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        transition: .5s;
     }
}
